body {
  font-family: 'Rubik', 'Segoe UI', 'San Francisco', 'Calibri', Arial, sans-serif;
  margin: 0;
}

 a {
   text-decoration:none;
}

.c-hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
  &__item {
    flex-grow: 1;
    background: #ccc;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transition: .2s all;
    cursor: pointer;
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
    
    &:hover {
      flex-grow: 2;
      box-shadow: inset 0 0 0 100vmax #000067 ;
    }
    
    &:nth-child(1) {
      background: #222 url(https://wtimxa-dm2305.files.1drv.com/y4mb0zlIYaprVAuxI4wpyAQCN5AWXaOS7RWGTItkysL2SPmMGbGOUPtRvxr9ENtqhWNqkAul4bPqL8wrKzn3AyTmytYBWNk2vWbjhSZ2rzUcFZeEsgX_X4doULMRMoV9pQD-o9x5V73NeFQbkdZ5d0HmxXlYyk-pPJTpHpNwLyC0inUpxIbMeUv_p2H6vveSJmsXHgiTopZqzR4Qk1tfdm15Q?width=640&height=1136&cropmode=none) no-repeat center center;
    }
    
    &:nth-child(2) {
      background: #222 url(https://utkl5w-dm2305.files.1drv.com/y4m9dkH4NNMltWrtylgWxQc0fK5GHV7PnrBWQamf2Q-tC4hvbNc7o5aoqIun69pfshemo1ljt58NfbQ5kV5t853b93UgEwtnUbqjwQ9i2yQgirA1aLJHkSQG94GD7KM1VM8zzWDwG3OdMudvPngHXu9u67Zc6GkY5xW98N-BXJbGowPp73JMm9wwSvV4M7foVrWyG6xBG4FLIbeDeI17FVbww?width=1080&height=1920&cropmode=none) no-repeat center center;
    }
    
    &:nth-child(3) {
      background: #222 url(https://wdimxa-dm2305.files.1drv.com/y4mwprQO7zwYX_MFlSS3vMery-Sq2Iuu6Fea3hbSbqy8tfCQGRFuAC-VbxQI3z8dhS3LTVYQ1YqGFKPguLKf1DN7v8kkyOaraEm9JfWgQNQcgcPz_aK-Zly0P610IsAFSDBH97iirLQIlFc_mBc3ElvMHeZ-S9vz5yBKCsUni_RufnqJO6rZFrg1odgi_uG0CCH3KGXR4N_tYwkyrSq-cVyUQ?width=1920&height=1200&cropmode=none) no-repeat center center;
    }
  }
  
  &__title {
    text-transform: uppercase;
    letter-spacing: .075em;
    color: #fff;
    transition: .2s all;
  }
}
